* {
    box-sizing: border-box;
    margin:0px;
    padding:0px;
}

h1{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

h2{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

h3{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

p{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.container {

}

.homeContainer{
    border-left: solid black;
    border-right: solid black;
    height: 200vh;
    width: 80vw;
    border-radius: .5rem;
    margin-left: 7.75vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    background-repeat: no-repeat;
    background-size: 110%;
    padding-top: 2rem;
}

.indContainer{
    border-left: solid black;
    border-right: solid black;
    border-bottom: solid black;
    margin-left: 7.75vw;
    height: 290vh;
    width: 80vw;
}

.featuresContainer {
    border-left: solid black;
    border-right: solid black;
    border-bottom: solid black;
    margin-left: 7.75vw;
    width: 80vw;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

/* #featuresContainer {
    transition: ;
} */
.FAQcontainer{
    border-left: solid black;
    border-right: solid black;
    border-bottom: solid black;
    margin-left: 7.75vw;
    height: 110vh;
    width: 80vw;


}

.aboutContainer{
    border-left: solid black;
    border-right: solid black;
    border-bottom: solid black;
    height: 150vh;
    width: 80vw;
    border-radius: .5rem;
    margin-left: 7.75vw;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

/* ******* Dropdown component ******* */
.childrenButton button:hover{
    cursor: pointer;
}

.childrenButton img{
    display: block;
    height: 30px;
    width: 50px;
}


    


/* I dont remember what this stuff is anymore */
.updateCard{
    height: 40vh;
    width: 60vw;
    margin-top: 10vh;
    border-radius: .5rem;
    box-shadow: 3px 3px 3px 3px black;
}

.updateCard h1{
    font-size: 4vw;
}

/* ************* This is the styling of the filter buttons on both the Ind Rankings and
                                    Squad rankings page ************* */
.filterButton {
    height: 3vh;
    width: 20vw;
    margin: 1vw;
    margin-right: 2vw;
    background-color: white;
    border-radius: .5rem;
    text-align: center;
    overflow: hidden;
    box-shadow: 3px 3px 3px 3px black;
}

.resultsButton{
    background-color: white;
    border-radius: .5rem;
    width: 30%;
    margin: 8vw;
    margin-bottom: 1vh;
}

.resultsButton:hover{
    background-color: gray;
    cursor: pointer;
}
/* ************** This is the styling of the filter options ************* */

/* styles text of the option in the filterButton*/
.filterButton select{
    border: none;
    font-size: 1vw;
    height:inherit;
}

 /* removes outline after selecting an option */
.filterButton select:focus {
    outline: none;
  } 
  
/* styles what happens when user hovers over filterButton*/
.filterButton select:hover {
    cursor:pointer;
    border: none;
}

/* ************* This is the styling of the Individual Rankings page  ************* */


.selectOptions{
    margin-left: 2.5vw;
    display: flex;
    justify-content: center;
    width: 75vw;
    margin-bottom: 10vh;
}

.submit-button{
    height: 3vh;
    width: 15vw;
    margin: 1vw;
    margin-right: 2vw;
    background-color: white;
    border-radius: .5rem;
    box-shadow: 3px 3px 3px 3px black;
    font-size: x-small;

}
.submit-button:hover{
    cursor: pointer;
    background-color: lightslategray;
}
.indHeader{
    margin-left: 3vw;
}

/*This is the styling for the stat table in ind.ranking*/
.eventTable-title{
    display: flex;
    justify-content: center;
    text-decoration: underline;
    margin-bottom: 1vh;
    font-size: 1.25vh;
}

/* Styling for the actual table itself (color, size, shape) */
.eventTable{
    height: 260vh;
    width: 70vw;
    margin-left: 4.5vw;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    border: solid black 6px;
    box-shadow: 3px 3px 3px 3px black;
    border-radius: .5rem;
    background-color: rgb(176, 209, 241);
    border-bottom: black 2px solid;
}

/*This styles divs surrounding the stat headers*/
.stat-headers{
    display: flex;
    align-items: center;
    text-decoration: underline;
    width:62vw;
    height: 1.5vh;
    padding-top: 2vh;
    padding-bottom: 2vh;
}

.stat-headers h3:nth-child(1){
    width: 15%;
}

.stat-headers h3:nth-child(2){
    width:18%;
}

.stat-headers h3:nth-child(3){
    width:12%;
}

.stat-headers h3:nth-child(4){
    width:14.5%;
}

.stat-headers h3:nth-child(5){
    width:13%;
}

.stat-headers h3:nth-child(6){
    width:18.5%;
}





/* Styling for the presentation of each person's stat */
.dataRow{
    display: flex;
    width: 60vw;
    height: 5vh;
}
.dataRow a{
    width: 13%;
    display: flex;
    justify-content: center; 
}

.dataRow a:nth-child(1){
    justify-content: left;
    padding-left: 1.25vw;
}
.dataRow a:nth-child(2){
    justify-content: left;
}
.dataRow a:nth-child(6){
    justify-content: right;
}

.dataRow a:nth-child(7){
    justify-content: right;
    padding-right: 1.75vw;
}
.tableStat{
    height: 60rem;
    font-size: 1vw;
    padding: 2vh;
}

.tableStat a{
    height: 50%;
    width: 30%;
}










/* ************* This is the styling of the features page  ************* */

.featureHeader{
    margin-top: 2rem;
    width: 50vw;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    
}

.featureHeader h1{
    font-size: 4vh;
}

.featureHeader img{
    width: 50vw;

}

/* This styles the format of the list of items */
.featureItems{
    display: flex;
    justify-content: left;
    flex-wrap: wrap;
}

/* This styles the actual items */
.featureCard{
    height: 20vh;
    display: flex;
    flex-wrap:wrap;
    justify-content: left;
    margin-left: 3vw;
}

.featureCard h3{
    width: 50vw;
    text-decoration: underline;

}

.featureCard p{
    margin-left: 10vw;
    margin-right: 5vw;;
}

/* ************* FAQ Page ************* */

.FAQcontainer h1{
    margin-top: 2rem;
    margin-left: 2rem;

}

.question{
    border-top:  solid 3px;
    margin: 5rem;
    margin-top: 2rem;
}



/* ************* About Page ************* */
.aboutContainer h1{
    width: 100vw;
    margin-left: 20vw;
}

.bioCard{
    height: 30vh;
    width: 80vh;
    margin: 2vh;
    padding: 2vw;
    border: solid 1px;
    border-radius: 0rem 1rem 0rem 1rem;
    box-shadow: 3px 3px 3px 3px black;
    display: flex;
    align-items: center;
}

.bioCard p{
    margin-right: 1.25vw;
}

.photo-and-name{
    width:25vw;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 2vw;
}

.photo-and-name h3{
    margin-right: 5vw;
    font-size: 1.25vw;
    width: 8vw;
}

.photo-and-name img{
    border: solid black;
    margin-top: 3vh;
    margin-right: 5vw;
    height:10rem;
    width:8rem;
}
