/* Need to style::
        squad card styling

*/

* {
    box-sizing: border-box;
}

h1{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

h2{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

h3{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

p{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.container {

}

.homeContainer{
    border-left: solid black;
    border-right: solid black;
    border-bottom: solid black;
    width: 80vw;
    border-radius: .5rem;
    margin-left: 7.75vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    height: 170vh;
    background-repeat: no-repeat;
    background-size: 110%;
    padding-top: 2rem;
}

.squadContainer {
    height: 100vh;
    width: 80vw;
    display: flex;
    justify-content: center;
    align-content:baseline;
    flex-wrap: wrap;
    background-color: white;
    border-radius: .5rem;
}

.indContainer{
    border-left: solid black;
    border-right: solid black;
    border-bottom: solid black;
    margin-left: 7.75vw;
    height: 290vh;
    width: 80vw;
}

.featuresContainer {
    border-left: solid black;
    border-right: solid black;
    border-bottom: solid black;
    margin-left: 7.75vw;
    width: 80vw;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.FAQcontainer{
    border-left: solid black;
    border-right: solid black;
    border-bottom: solid black;
    margin-left: 7.75vw;
    height: 110vh;
    width: 80vw;


}

.aboutContainer{
    border-left: solid black;
    border-right: solid black;
    border-bottom: solid black;
    height: 150vh;
    width: 80vw;
    border-radius: .5rem;
    margin-left: 7.75vw;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

/* ******* Dropdown component ******* */
.childrenButton button:hover{
    cursor: pointer;
}

.childrenButton img{
    display: block;
    height: 30px;
    width: 50px;
}


/* ************* Below is the NAV BAR Styling  ************* */
.navbar{
    background-color: rgb(241, 241, 241);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70px;
    border-bottom: solid black;
    padding: 2vh;
    margin-top: 2vh;
}

.navbarItems{
    height:  50px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}


/* This is the Item styling  (just fixes bullet points tbh)*/
.navButton {
    margin-left: 2vw;
    margin-right: 2vw; 
    color: inherit;    
    text-align: center;
    list-style: none;
}

/* This styles the text inside the button */
.navButton a{
    padding:1rem;
    text-decoration: none;
    color: inherit;
    font-size: 2vw;
}

/* This styles what happens when the cursor hovers over a navButton*/
.navButton a:hover {
    border-radius: .5vw;
    text-decoration: underline black;
    cursor:pointer;
}


/* ************* This is the div tag for the NavMenu ************* */
.navMenu {
    margin-left: 2.3vw;
    margin-top: 2.2vh;
    height: 70px;
    width: 50px;
    color: black;
    border-radius: 1rem;
}

/* This is the styling of the nav bar logo image */
.navLogo{
    background-color: none;
    height: 5.5vh;
    border-radius: 4rem;

    
}
.navLogo:hover{
    background-color: gray;
}

/* Below is the Hamburger Menu Styling on Nav Bar */

.hamburgerMenu {
    z-index: 5;
    position: relative;
    margin-top: 3.65vh;
    height: inherit;
    width: inherit;
}
.hamburgerMenuBtn button{
    background-color: none;
    text-align: center;
    border: none;
    text-decoration: none;
    font-family:'PT Sans',helvetica;
}

.hamburgerMenuBtn button:hover{
    cursor: pointer;
}

.hamburgerMenuBtn ul{
    border: solid black;
    border-top-right-radius: .5rem;
    border-bottom-right-radius: .5rem;
    z-index: 5;
    position: relative;
    left: 0;
    height: 60vh;
    width: 25vw;
    background-color: rgb(255, 255, 255);
    margin: 2vh;
    list-style: none;
    padding-left: 1vw;
}

/* This is the actual styling of text inside the dropdownMenu */
.hamburgerListItem a{
    text-decoration: none;
    color: black;
    font-size: 1.28571429rem;
}

.hamburgerListItem a:hover{
    text-decoration: underline;
}

/* This is the styling for between items in the list */
 .hamburgerListItem {
    margin-top: 3vh;

}      
    
/* ************* Homepage ************* */

.homeLogo{
    height: 30vw;
}

/* ************* Below is the searchbar styling  ************* */
.searchBar{
    height: 5vh;
    width: 80vw;

}

.searchInputs{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.searchInputs input{
    position: relative;
    z-index: 0;
    border: none;
    border-radius: 2px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    border-radius: .5rem;
    font-size: 18px;
    padding: 15px;
    height: 5vh;
    width: 60vw;
    box-shadow: 3px 3px 3px 3px black;
    margin-top: 5vh;

}

.searchbar-results{
    height: 3vh;
    border-width: 1px;
    border-radius: .5rem;
}

/* this styles the formatting and search results themselves*/
.searchbar-results .stat{
    z-index: 1;
    position: relative; 
    background-color: white;
    margin: 0;
    margin-right: 3vw;
    height: 3vh;
    width: 59vw;
    padding-left: 3vw;
    padding-top: .25vh;
    border: 1px solid rgb(167, 164, 164);
}

.searchbar-results .dataItem:hover{  
    background-color: rgb(224, 224, 224);
    cursor: pointer;
}


input:focus{
    outline:none;
}


.dataResult .dataItem{
    width: 10vw;
    height:5vh;
    display:flex;
    align-items: center;
    color: black;
}

.updateCard{
    height: 40vh;
    width: 60vw;
    margin-top: 10vh;
    border-radius: .5rem;
    box-shadow: 3px 3px 3px 3px black;
}

.updateCard h1{
    font-size: 4vw;
}

/* ************* This is the styling of the filter buttons on both the Ind Rankings and
                                    Squad rankings page ************* */
.filterButton {
    height: 3vh;
    width: 15vw;
    margin: 1vw;
    margin-right: 2vw;
    background-color: white;
    border-radius: .5rem;
    text-align: center;
    overflow: hidden;
    box-shadow: 3px 3px 3px 3px black;
}

/* ************** This is the styling of the filter options ************* */

/* styles text of the option in the filterButton*/
.filterButton select{
    border: none;
    font-size: 1vw;
    height:inherit;
}

 /* removes outline after selecting an option */
.filterButton select:focus {
    outline: none;
  } 
  
/* styles what happens when user hovers over filterButton*/
.filterButton select:hover {
    cursor:pointer;
    border: none;
}

/* Styling of the header text inside the squadHeader box */
.squadHeader h2{
    padding-left: 5vw;
    color: rgb(88, 88, 88);
    text-shadow:rgb(0, 0, 0) -1px .5px;
    text-decoration: underline black;
}

/* Styling of the paragraph text inside the squadHeader box */

.squadHeader p{
    padding-left: 5vw;
    padding-right: 5vw
}


.squadCard{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    height: 50vh;
    width: 65vw;
    margin-top:5vh;
    border-radius: .5rem;
    background-color: white;
    box-shadow: 3px 3px 3px 3px black;
    padding-left: 2rem;
    padding-right: 2rem;
    text-decoration: underline;

}

/* Still gotta style this */
.squadCard-header{
}
.squadTableStats{
    display: flex; 
    flex-wrap: wrap;
    padding: 1vh;
}
.squadDataRow{

}

.squadInfo{
    width: 65vw;
    padding-left: 2rem;
    padding-right: 2rem;
    text-decoration: underline;
    display: flex;
    justify-content: space-between;
}

/* ********** SQUAD SELECT DROPDOWN STYLING ********** */


/* This just styles the text */
.squadChildren{
    width:85vw;
    background-color: none;
    border: solid black;
    text-decoration: none;
    font-family:'PT Sans',helvetica;
    height: 50vh;  
}

.squadChildren .showChildren {
    display: flex;
    justify-items: space-between;
}

.squadChildren .showChildren h3{
    margin-left: 2rem;
}

.squadContainer p {
    width: 100vw;
    height: 10vh;
    text-align: center;
    padding: 3vh 2vw;
}
/* ************* This is the styling of the Individual Rankings page  ************* */


.selectOptions{
    margin-left: 2.5vw;
    display: flex;
    justify-content: center;
    width: 75vw;
    margin-bottom: 10vh;

}

.submit-button{
    height: 3vh;
    width: 15vw;
    margin: 1vw;
    margin-right: 2vw;
    background-color: white;
    border-radius: .5rem;
    box-shadow: 3px 3px 3px 3px black;
    font-size: x-small;

}
.submit-button:hover{
    cursor: pointer;
    background-color: lightslategray;
}
.indHeader{
    margin-left: 3vw;
}

/*This is the styling for the stat table in ind.ranking*/
.eventTable-title{
    margin-top: .75vh;
    margin-left: 8vw;
    font-size: 1.25vh;
}

/* Styling for the actual table itself (color, size, shape) */
.eventTable{
    height: 260vh;
    width: 70vw;
    margin-left: 4.5vw;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    border: solid black 6px;
    box-shadow: 3px 3px 3px 3px black;
    border-radius: .5rem;
    background-color: rgb(176, 209, 241);
    border-bottom: black 2px solid;
}

/*This styles divs surrounding the stat headers*/
.stat-headers{
    display: flex;
    align-items: center;
    text-decoration: underline;
    width:62vw;
    height: 1.5vh;
    padding-top: 2vh;
    padding-bottom: 2vh;
}

.stat-headers h3:nth-child(1){
    width: 15%;
}

.stat-headers h3:nth-child(2){
    width:18%;
}

.stat-headers h3:nth-child(3){
    width:12%;
}

.stat-headers h3:nth-child(4){
    width:14.5%;
}

.stat-headers h3:nth-child(5){
    width:13%;
}

.stat-headers h3:nth-child(6){
    width:18.5%;
}





/* Styling for the presentation of each person's stat */
.dataRow{
    display: flex;
    width: 60vw;
    height: 5vh;
}
.dataRow a{
    width: 13%;
    display: flex;
    justify-content: center; 
}

.dataRow a:nth-child(1){
    justify-content: left;
    padding-left: 1.25vw;
}
.dataRow a:nth-child(2){
    justify-content: left;
}
.dataRow a:nth-child(6){
    justify-content: right;
}

.dataRow a:nth-child(7){
    justify-content: right;
    padding-right: 1.75vw;
}
.tableStat{
    height: 60rem;
    font-size: 1vw;
    padding: 2vh;
}

.tableStat a{
    height: 50%;
    width: 30%;
}










/* ************* This is the styling of the features page  ************* */

.featureHeader{
    margin-top: 2rem;
    width: 50vw;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    
}

.featureHeader h1{
    font-size: 4vh;
}

.featureHeader img{
    width: 50vw;

}

/* This styles the format of the list of items */
.featureItems{
    display: flex;
    justify-content: left;
    flex-wrap: wrap;
}

/* This styles the actual items */
.featureCard{
    height: 20vh;
    display: flex;
    flex-wrap:wrap;
    justify-content: left;
    margin-left: 3vw;
}

.featureCard h3{
    width: 50vw;
    text-decoration: underline;

}

.featureCard p{
    margin-left: 10vw;
    margin-right: 5vw;;
}

/* ************* FAQ Page ************* */

.FAQcontainer h1{
    margin-top: 2rem;
    margin-left: 2rem;

}

.question{
    border-top:  solid 3px;
    margin: 5rem;
    margin-top: 2rem;
}



/* ************* About Page ************* */
.aboutContainer h1{
    width: 100vw;
    margin-left: 20vw;
}

.bioCard{
    height: 30vh;
    width: 80vh;
    margin: 2vh;
    padding: 2vw;
    border: solid 1px;
    border-radius: 0rem 1rem 0rem 1rem;
    box-shadow: 3px 3px 3px 3px black;
    display: flex;
    align-items: center;
}

.bioCard p{
    margin-right: 1.25vw;
}

.photo-and-name{
    width:25vw;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 2vw;
}

.photo-and-name h3{
    margin-right: 5vw;
    font-size: 1.25vw;
    width: 8vw;
}

.photo-and-name img{
    border: solid black;
    margin-top: 3vh;
    margin-right: 5vw;
    height:10rem;
    width:8rem;
}
