/* ************* Individual Rankings Page  ************* */

.indContainer{
    border-left: solid black;
    border-right: solid black;
    border-bottom: solid black;
    margin-left: 7.75vw;
    height: auto;
    width: 80vw;
}
.selectOptions{
    margin-left: 2.5vw;
    display: flex;
    justify-content: center;
    width: 75vw;
    margin-bottom: 10vh;
}
.submit-button{
    height: 3.2vh;
    width: 15vw;
    margin: 1vw;
    margin-right: 2vw;
    background-color: rgb(255, 255, 255);
    border-radius: .5rem;
    box-shadow: 3px 3px 3px 3px black;
    font-size: 75%;

}
.submit-button:hover{
    cursor: pointer;
    background-color: lightslategray;
}
.indHeader{
    padding: 6vw;
    
}
.indHeader h2{
    padding-left: 5vw;
    color: rgb(88, 88, 88);
    text-decoration: underline black;
    margin-bottom: 5%;
}
.indHeader p{
    margin-top: 3vh;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}