.schoolprofilesContainer{
    height: 100vw;
    width: 80vw;
    margin-left: 10vw;
    padding-top: 5vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-left: solid black;
    border-right: solid black;

}

.schoolprofilesContainer h1{
    text-decoration: underline;
    padding: 2vw;
}

.schoolprofilesContainer p{
    margin-left: 10vw;
    margin-right: 10vw;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.schoolTable{
    /* styles the formatting of data */
    height: 260vh;
    width: 70vw;
    display: flex;
    flex-direction: column;
    



    /* styles the design of the table */
    border: solid black 6px;
    box-shadow: 3px 3px 3px 3px black;
    border-radius: .5rem;
    background-color: rgb(176, 209, 241);
    border-bottom: black 2px solid;

}

.schoolName{
    font-size: 3vw;
    margin-top: 3vh;
    margin-left: 4vw;
    text-decoration: underline;
}

.schoolTableHeaders{
    width: 100%;
    display: flex;
    flex-direction: row;
    margin-left: 5vw;
    margin-top: 5vh;

}

.schoolTableHeaders h3{
    width: 18%;
}

.schoolRow{
    display: flex;
    width: 60vw;
    height: 5vh;
}
.schoolRow a{
    width: 13%;
    display: flex;
    justify-content: center; 
}

.schoolRow a:nth-child(1){
    justify-content: left;
    padding-left: 1.25vw;
}
.schoolRow a:nth-child(2){
    justify-content: left;
}
.schoolRow a:nth-child(6){
    justify-content: right;
}

.schoolRow a:nth-child(7){
    justify-content: right;
    padding-right: 1.75vw;
}