/* ************* Squad Stats/Rankings Page ************* */


.squadContainer {
    height: 100vh;
    width: 70vw;
    margin-top: 5%;
    display: flex;
    justify-content: center;
    align-content:baseline;
    flex-wrap: wrap;
    background-color: white;
    border-radius: .5rem;
}
/* Styling of the header text inside the squadHeader box */
.squadHeader h2{
    padding-left: 5vw;
    color: rgb(88, 88, 88);
    text-decoration: underline black;
    margin-bottom: 5%;
}
/* Styling of the paragraph text inside the squadHeader box */
.squadHeader p{
    padding-left: 5vw;
    padding-right: 10vw;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
/* This styling designs the table itself (background) */
.squadCard{
    height: auto;
    width: 70vw;
    margin-top:5vh;
    border-radius: .5rem;
    background-color: white;
    box-shadow: 3px 3px 3px 3px black;
    padding-left: 2rem;
    padding-right: 2rem;
}
.squadCard h3{
    margin-top: 5vh;
    margin-bottom: 5vh;
}
/* dont edit */
.squadCard-header{
    display: flex;
    justify-content: space-around;
}
.squadContainer p {
    width: 100vw;
    height: 10vh;
    text-align: center;
    padding: 3vh 2vw;
}
.resultsButton{
    background-color: white;
    border-radius: .5rem;
    height: 5%;
    width: 20%;
    margin-bottom: 5%;
}
.resultsButton:hover{
    background-color: gray;
    cursor: pointer;
}
.customDataTable .rdt_TableRow {
    font-size: 20px;
}