.squadContainer {
    height: 100vh;
    width: 70vw;
    margin: 5vh;
    display: flex;
    justify-content: center;
    align-content:baseline;
    flex-wrap: wrap;
    background-color: white;
    border-radius: .5rem;
}


/* Styling of the header text inside the squadHeader box */
.squadHeader h2{
    padding-left: 5vw;
    color: rgb(88, 88, 88);
    text-shadow:rgb(0, 0, 0) -1px .5px;
    text-decoration: underline black;
}

/* Styling of the paragraph text inside the squadHeader box */

.squadHeader p{
    padding-left: 5vw;
    padding-right: 5vw
}

/* This styling designs the card itself (background) */
.squadCard{
    height: auto;
    width: 70vw;
    margin-top:5vh;
    border-radius: .5rem;
    background-color: white;
    box-shadow: 3px 3px 3px 3px black;
    padding-left: 2rem;
    padding-right: 2rem;

}


.squadCard h3{
    margin-top: 5vh;
    margin-bottom: 5vh;

}

/* dont edit */
.squadCard-header{
    display: flex;
    justify-content: space-around;
}

.squad-column{
    text-decoration: none;
    height: auto;
    width: 20%;
}

.squad-column:nth-child(4){
    margin-left: 5vw;
}

.squad-column h3{
    font-size: 5vw;
}

.squadItem{
    margin-top: 4vh;
    margin-bottom: 2vh;
    margin-left: 1vw;
    height: 3vh;
    font-size: 1vw;
}

.pagination-btn{
    display: flex;
    justify-content: center;
    margin-bottom: 3vh;
}

.pagination-btn button:nth-child(2){
    margin-left: 2vw;
}

/* Used to edit the spacing of the headers */
.squadCard-header h3{
    margin-left: 8%;
    font-size: 2vw;
    height: 1vh;
}

.squadCard-header h3:nth-child(1){
    margin-left: 1%;
}
.squadCard-header h3:nth-child(2){
    margin-left: 11%;
}

.squadCard-header h3:nth-child(4){
    margin-left: 9%;
}


.squadCard-header h3:nth-child(5){
    margin-left: 16%;

}

/* used to edit how the data of the squad ranks are presented */
.table-items{
    display: flex;
    align-items:start;
    margin-left: 9vw;
}
.table-items a{
    
    height: 4vh;
    width: 10vw;
    margin-top: .5vw;
    margin-left: 22%;
    font-size: 2vw;


}

.table-items a:nth-child(3){
    margin-left: 3vw;
}
.dataColumn{
    
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}

/* This is the styling for the stuff below the squad menu that slides out */
/* .squadInfo{
    width: 65vw;
    padding-left: 2rem;
    padding-right: 2rem;
    text-decoration: underline;
    display: flex;
    justify-content: space-between;
} */

/* ********** SQUAD SELECT DROPDOWN STYLING ********** */


/* This just styles the text */
/* .squadChildren{
    width:85vw;
    background-color: none;
    border: solid black;
    text-decoration: none;
    font-family:'PT Sans',helvetica;
    height: 50vh;  
} */

.squadChildren .showChildren {
    display: flex;
    justify-items: space-between;
}

.squadChildren .showChildren h3{
    margin-left: 2rem;
}

.squadContainer p {
    width: 100vw;
    height: 10vh;
    text-align: center;
    padding: 3vh 2vw;
}
