/* ************* This is the div tag for the NavMenu ************* */
.navMenu {
    height: 70px;
    width: 50px;
    color: black;
    border-radius: 1rem;

    padding-top: 1.5vh;
    padding-left: 2vh;
}

/* This is the styling of the nav bar logo image */
.navLogo{
    background-color: none;
    height: 5vh;
    border-radius: .25rem;

    
}
.navLogo:hover{
    background-color: gray;
}

/* Below is the Hamburger Menu Styling on Nav Bar */

.DropdownButtonContainer button{
    background-color: none;
    text-align: center;
    border: none;
    text-decoration: none;
}

.DropdownButtonContainer button:hover{
    cursor: pointer;
}

.DropdownButtonContainer ul{
    height: 40vh;
    width: 25vw;
    z-index: 5;
    position: relative;
    list-style: none;
    padding-left: 1vw;
    margin-top: .75vh;


    background-color: rgb(255, 255, 255);
    border: solid black;
    border-top-right-radius: .5rem;
    border-bottom-right-radius: .5rem;

}

/* This is the actual styling of text inside the dropdownMenu */
.listItem a{
    text-decoration: none;
    color: black;
    font-size: 1.28571429rem;
}

.listItem a:hover{
    text-decoration: underline;
}

/* This is the styling for between items in the list */
 .listItem {
    margin-top: 3vh;

}      
